# Visual Code
*.make
*.rc
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
obj/

# Visual Code bin
bin/*.dll
bin/*.exe
bin/*.exp
bin/*.ilk
bin/*.lib
bin/*.pdb

# Temp ignore (Will be removed at the end of semester maybe?)
bin/
src/